body {
  background: radial-gradient(at top left, #1a1a1a, transparent), radial-gradient(at bottom right, #00ff8822, transparent), #050505;
  height: 100vh;
}

h1{
    font-size: 20px;
    color: red;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
